@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
.h1{
	
	font-size: 2.5rem;
	color: #008080; 
	text-align: center;
	letter-spacing: 0.4rem;
	font-family: 'Chakra Petch', sans-serif;
    
}



.book-card {
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    margin: 10px;
    padding: 10px;
    text-align: center;
    
    
}

.book-card:hover {
	 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra aumentada ao passar o mouse */
    background-color:  rgb(187,222,179);
}

.book-card img {
	 
    width: 80px; /* Ajuste o tamanho da imagem */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}
.book-card img:active{
	transform: scale(1.2);
}

.book-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

.book-card pe {
    font-size: 1rem;
    color: #666;
}

.container-centralizes{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	align-content: center;
	
}
.book-card-details {
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    margin-left: 300; 
    padding: 20px; 
    text-align: center;
    width: 700%; 
    max-width: 600px;
}

.book-card-details:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra maior ao passar o mouse */
}


.dataTable-column-capa {
    width: 120px;
}
.dataTable-column-titulo {
    width: 120px;
}

.dataTable-column-autor {
    width: 120px;
}

.dataTable-column-isbn {
    width: 100px;
}

.dataTable-column-preco {
    width: 85px;
}

.dataTable-column-dataLancamento {
    width: 120px;
}


.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    max-width: 600px;
}

.form-group {
    margin-bottom: 15px;
}

.ui-float-label {
    display: block;
}

.ui-float-label p:inputText {
    width: 100%;
}

.custom-progress-bar .ui-progressbar-value {
    background-color: #43766C !important;
}

